<!--<meta name="keywords" content="Singh,Bali,Kulwinder,Maa,Media,Home,Lyrics,Writing,Biography,Discography,Contact">
 --><html><!-- InstanceBegin template="/Templates/Primary2.dwt" codeOutsideHTMLIsLocked="false" -->
<head>
<!-- InstanceBeginEditable name="doctitle" -->
<title>Bali Karyam</title>
<!-- InstanceEndEditable -->
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<!-- InstanceBeginEditable name="head" -->
<!-- InstanceEndEditable -->
<link href="baliWeb.css" rel="stylesheet" type="text/css">
<meta name="keywords" content="Singh,Maa,Media,Kulwinder,Contact,News,Lyrics,Media,Bali,Karyam,Discography,Biography">
</head>
<body bgcolor="#FFFFFF" leftmargin="0" topmargin="0" marginwidth="0" marginheight="0">
<!-- Save for Web Slices (BK2Website.psd) -->
<table width="1024" height="378" border="0" align="center" cellpadding="0" cellspacing="0" id="Table_01">
	<tr>
		<td height="156">
			<img src="images/BaliLayout_01.jpg" alt="" width="1024" height="156" usemap="#Map2" border="0"></td>
	</tr>
	<tr>
		<td height="35"><img src="images/BaliLayout_02.jpg" alt="" width="1024" height="35" usemap="#Map" border="0"></td>
	</tr>
	<tr>
		<td valign="top"><!-- InstanceBeginEditable name="BaliEditRegion" -->
		  <table width="99%" border="0" align="center">
		    <tr>
		      <td width="55%" height="871" align="left" valign="top"><h1><a href="Lyrics.html">Songs</a></h1>
		        <h3>Top Ten Songs by  Bali Karyam Wala</h3>
              <p>1.&nbsp; Neele Note-Sona Singh</p>
              <p>2. Sajjan-Aman  Riar</p>
              <p>3. Lalkara-Aman  Riar</p>
              <p>4. Haske-Aman  Riar</p>
              <p>5. Soorma-Sukhjit  Sukh</p>
              <p>6. Sitare-KS  Makhan</p>
              <p>7. Variya-KS  Makhan</p>
              <p>8. Jhanjra-Bukan  Jatt </p>
              <p>9. Nachna Jandi-B  Singh</p>
              <p>10. Beer Bar-Aman  Riar</p>
              <p>&nbsp;</p></td>
		      <td width="45%" valign="top"><h1><a href="Singh Kulwinder.html">Lyrics: Maa Warga Rabb</a></h1>
		        <p>ਰੱਬ ਵਰਗੀ ਮੇਰੀ ਮਾਂ ਨਹੀ,<br>
ਮੇਰੀ ਮਾਂ ਵਰਗਾ ਰੱਬ ਹੋਵੇਗਾ!!		        </p>
	            <h3>Singer-Singh Kulwinder</h3>
              <p>Jithe pahuncheya  haan aaj padke jo vi haan apni maa karke</p>
              <p>Apni zindgi de is  sach nu dil na kadi lakovega</p>
              <p>Raab wargi meri  maa nahi meri maa warga rabb hovega</p>
              <p>Raab wargi meri  maa nahi meri maa warga rabb hovega</p>
              <p>&nbsp;</p>
              <p>Meri is juban te  pehlan maa da naam hi aaya ye</p>
              <p>Loki rabb nu  labde firde par main rabb nu paya ye</p>
              <p>Kadi na pau  thokar maa deya kade maa nu jo chuhega</p>
              <p>Raab wargi meri  maa nahi meri maa warga rabb hovega</p>
              <p>Raab wargi meri  maa nahi meri maa warga rabb hovega</p>
              <p>&nbsp;</p>
              <p>Dhupa vich mainu  chaan kardi c thand vich seene laundi c</p>
              <p>Aap maa pukhi soo  jandi par mainu rajj ke khavondi c</p>
              <p>Akhan vich barsat  hai pave hun na kotha chovega</p>
              <p>Raab wargi meri  maa nahi meri maa warga rabb hovega</p>
              <p>Raab wargi meri  maa nahi meri maa warga rabb hovega</p>
              <p>&nbsp;</p>
              <p>Pind kaream da  bali jaj vi dukhan di bheed chon langda ye</p>
              <p>Dher sariyan pani  maa de kolo duvava mangda ye</p>
              <p>Putt dukhi te sab  ton pehlan maa da tid hi rovega</p>
              <p>Raab wargi meri  maa nahi meri maa warga rabb hovega</p>
              <p>Raab wargi meri  maa nahi meri maa warga rabb hovega</p></td>
	        </tr>
		    <tr>
		      <td height="21" valign="top"><p>&nbsp;</p></td>
		      <td>&nbsp;</td>
	        </tr>
	    </table>
		<!-- InstanceEndEditable --></td>
	</tr>
</table>
<!-- End Save for Web Slices -->

<map name="Map">
  <area shape="rect" coords="11,6,92,34" href="index.html">
  <area shape="rect" coords="129,2,221,31" href="Media.html">
  <area shape="rect" coords="248,1,326,30" href="Lyrics.html">
  <area shape="rect" coords="362,5,441,32" href="News.html">
  <area shape="rect" coords="464,6,570,29" href="Projects.html">
  <area shape="rect" coords="616,6,823,33" href="Singh%20Kulwinder.html">
  <area shape="rect" coords="869,3,989,31" href="Contacts.html">
  <area shape="rect" coords="8,3,94,34" href="#">
  <area shape="rect" coords="7,2,97,35" href="index.html">
  <area shape="rect" coords="131,1,221,35" href="Media.html">
  <area shape="rect" coords="249,1,325,28" href="Lyrics.html">
  <area shape="rect" coords="359,6,442,35" href="News.html">
  <area shape="rect" coords="465,3,572,31" href="Projects.html">
  <area shape="rect" coords="613,4,824,31" href="Singh%20Kulwinder.html">
  <area shape="rect" coords="871,2,988,32" href="Contacts.html">
</map>

<map name="Map2">
  <area shape="rect" coords="984,2,1017,34" href="https://www.facebook.com/" target="new">
  <area shape="rect" coords="948,2,981,37" href="https://twitter.com/" target="new">
  <area shape="rect" coords="913,4,946,37" href="https://www.youtube.com/">
  <area shape="rect" coords="878,2,912,36" href="https://www.google.com/" target="new">
</map>
</body>
<!-- InstanceEnd --></html>